*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store

/captures
.externalNativeBuild
.cxx
local.properties

# Keystore files
*.jks
*.keystore
keystore_base64.txt
# containing env var for building release apk
keystore.properties

# Release build
app/release
build
app/build