name: Build Android App

# we build and release on main on vX.X.X git tag
# on PRs we just build
on:
  push:
    branches:
      - main
    tags:
      - "v*.*.*"
  # pull_request:
  #   branches:
  #     - main
  workflow_dispatch:

jobs:
  # debug:
  #   runs-on: ubuntu-latest
  #   if: startsWith(github.ref , 'refs/tags/v') != true

  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@v4

  #     - name: Set up JDK 17
  #       uses: actions/setup-java@v4
  #       with:
  #         distribution: "temurin"
  #         java-version: "17"
  #         cache: "gradle"

  #     - name: Grant execute permission for gradlew
  #       run: chmod +x gradlew

  #     - name: Build Debug APK
  #       if: "!startsWith(github.ref, 'refs/tags/v')"
  #       run: ./gradlew assembleDebug --stacktrace

  #     - name: Upload Debug APK
  #       if: "!startsWith(github.ref, 'refs/tags/v')"
  #       uses: actions/upload-artifact@v4
  #       with:
  #         name: focus-debug-apk
  #         path: app/build/outputs/apk/debug/*.apk
  #         retention-days: 90

  release:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"
          cache: "gradle"

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Decode Keystore
        env:
          KEYSTORE_BASE64: ${{ secrets.KEYSTORE_BASE64 }}
        run: |
          echo "$KEYSTORE_BASE64" | base64 -d > app/release-keystore.jks

      - name: Build Release APK
        env:
          KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
          KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
        run: ./gradlew assembleRelease --stacktrace

      - name: Get version from tag
        id: get_version
        run: echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          files: app/build/outputs/apk/release/*.apk
          draft: false
          prerelease: false
          generate_release_notes: true
          name: Release ${{ steps.get_version.outputs.VERSION }}
        env:
          GITHUB_TOKEN: ${{ secrets.PERSONAL_TOKEN }}

      - name: Upload Release APK as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: focus-release-apk-${{ steps.get_version.outputs.VERSION }}
          path: app/build/outputs/apk/release/*.apk
          retention-days: 90
